@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merriweather', serif;
}

.banner-container {
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
}

.banner-container .banner-text {
    color: white;
    width: 1320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-container .banner-text p {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}
.banner-container .banner-text h1 {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.main-section {
    margin-top: 120px;
}

.main-section .offer-section {

}

.main-section .offer-section h1 {
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 48px;
}
.main-section .offer-section p {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
}
.main-section .offer-section h3 {
    color: black;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 48px;
}

.main-section .offer-section .offer-img {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

/* wlc  */

.wlc-section {
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) , url(../images/Vectorrr.png);
    max-width: 1320px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 120px;
}

.wlc-section .wlc-content {
    display: flex;
    height: 600px;
    width: 1320px;
    align-items: center;
    justify-content: center;
}

.wlc-content .wlc-text {
    color: #fff;
    width: 60%;
    margin-left: 126px;
}

.wlc-content .wlc-text h1 {
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 24px;
}

.wlc-content .wlc-text p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 48px;
}

.wlc-content .wlc-text button {
    background-color: transparent;
    color: #fff;
    border-style: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 32px;
}

.wlc-content .wlc-img {
    color: #fff;
    width: 40%;
    margin-left: 60px;
}

/* address information  */

.address-section {
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 120px;
}

.address-section .address-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address-content p {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    font-family: "Inter", sans-serif;
    color: black;
}

.address-content .span-style {
    color: red;
}

.address-content button {
    color: #fff;
    background-color: #ff0000;
    padding: 16px 32px;
    border-radius: 8px;
    border-style: none;
    margin-top: 48px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

/* event section  */

 .event-section {
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 120px;
 }

 .event-section .event-content {
    display: flex;
    height: auto;
    width: 1320px;
    justify-content: space-between;
    align-items: end;
 }

 .left-content h4 {
    color: #ff0000;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
 }

 .left-content h1 {
    color: #000000;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 22px;
 }

 .left-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 390px;
    margin-bottom: 90px;
 }

 .event-content .mid-content {
    border: 15px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

 }

 .mid-content img {
    margin: 0;
    width: 365px;
    height: 365px;
    padding: 20px;
 }

 .event-content .right-content {
    width: 280px;
 }

 .right-content h1 {
    font-size: 48px;
    font-family: "Inter", sans-serif;
    color: #ff0000;
    font-weight: bold;
 }

 .right-content p {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #070211;
    margin-top: 15px;
    margin-bottom: 43px;
 }